{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}
<ul>
                    <li>
                        <h3>'Mono' HTML5 CSS3 Single Page Layout</h3>
                        <a href="#"><img alt="" src="{% static 'images/post.png' %}" /></a>
                        <p>Today I want to introduce new great masterpiece – new template with codename: 'Mono'. This will nice HTML5/CSS3 template with nice light brown colors. Hope that you will like new styles and you will learn some new design methods.</p>
                        <a class="more" href="http://sc.chinaz.com/moban/">Read more</a>
                    </li>
                    <li>
                        <h3>Art theme - HTML5/CSS3 single page layout</h3>
                        <a href="#"><img alt="" src="{% static 'images/post.png' %}" /></a>
                        <p>Today I will like to product new great masterpiece – new template with codename: ‘Art theme’. This will nice HTML5 template with nice gray colors. Hope that you will like new styles and you will learn some new coding lessons.</p>
                        <a class="more" href="http://sc.chinaz.com/moban/">Read more</a>
                    </li>
                    <li>
                        <h3>Attractive HTML CSS Anime Theme Website Layout</h3>
                        <a href="#"><img alt="" src="{% static 'images/post.png' %}" /></a>
                        <p>Today I will like to product new masterpiece – new template with codename: ‘Anime theme’. This will nice HTML5 template with good colors. Hope that you can learn some new coding lessons and download our result and use it at your own site (its free as usual).</p>
                        <a class="more" href="http://sc.chinaz.com/moban/">Read more</a>
                    </li>
                </ul>
{% endblock %}
{% block right_content %}
{% include 'archives.html' %}
<div class="block"><!-- Recent posts block -->
                    <h3>Recent posts</h3>
                    <ul class="recent">
                        <li>
                            <time datetime="2014-02-08T20:20">08-02-2014</time>
                            <p>Recnt post #1 - short description</p>
                            <a class="more" href="#">Read more</a>
                        </li>
                        <li>
                            <time datetime="2014-02-08T20:30">08-02-2014</time>
                            <p>Recnt post #2 - short description</p>
                            <a class="more" href="#">Read more</a>
                        </li>
                        <li>
                            <time datetime="2014-02-08T20:40">08-02-2014</time>
                            <p>Recnt post #3 - short description</p>
                            <a class="more" href="#">Read more</a>
                        </li>
                        <li>
                            <time datetime="2014-02-08T20:50">08-02-2014</time>
                            <p>Recnt post #4 - short description</p>
                            <a class="more" href="#">Read more</a>
                        </li>
                    </ul>
                </div>
{% endblock %}